.CallToAction_Wrapper{
    flex-direction: row !important;
    color: #fff;
    background-color: #0c1701;
    padding: 50px 12% !important;
    align-items: center !important;
    z-index: 1;
    position: relative;
}

.CallToAction_Wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../assets/header-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}



.CallToAction_Wrapper h2{
    font-size: 40px;
}
.CallToAction_Wrapper h2 span{
    color: var(--primary-color);
}

.Content{
    width: 70%;
}
.Content p{
    width: 50%;
    font-size: 13px;
    color: rgba(131, 131, 131, 0.8);
}

.image{
    width: 30%;
}
.image img{
    width: 100%;
}

@media screen and (max-width:768px) {
    .CallToAction_Wrapper{
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
    }

    .image{
        width: 50%;
    }

    .Content , .Content p{
        width: 100%;
    }
}

@media screen and (max-width:500px) { 
    .image{
        width: 90%;
    }

    
    .CallToAction_Wrapper h2{
        font-size: 30px;
    }
}